$box: 60px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(3,$box);
    grid-template-rows: repeat(3,$box);
}

.panel {
    width: $box;
    height: $box;
    border: 4px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}