$box: 150px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.scoreKeep {
    display: flex;
    align-items: center;
    gap: 5vw;
    .oneWins, .twoWins {
        font-size: 2em;
    }
}

.players {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40vw;
    .playerOne, .playerTwo {
        background-color: gainsboro;
        font-size: 2em;
        border-radius: 10px;
        padding: 4px 16px;
    }
}

.board {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,$box);
    grid-template-rows: repeat(3,$box);
}

.panel {
    width: $box;
    height: $box;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}

.winMess {
    min-height: 2em;
    font-size: 2em;
}

.resetBtn {
    border: solid black 1px;
    border-radius: 10px;
    background-color: gainsboro;
    padding: 4px 16px;
    font-size: 1.5em;
    cursor: pointer;
}